.section.about {
  background-image: url("../images/about/squares-back.png");
  background-position: -65px 0px;
  background-repeat: no-repeat;
  padding-top: 32px;
  overflow-x: hidden;

  @media screen and (min-width: 360px) {
    & {
      background-image: url("../images/about/squares-back.png");
    }
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: url("../images/about/squares-back.png");
      background-position: 25px -60px;
      padding-top: 37px;
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      padding-top: 120px;
    }
  }

  @media screen and (max-width: 1280px) {
    & .container {
      max-width: none;
    }
  }
}

.about {
  &__title {
    margin-bottom: 16px;
  }

  &__body {
    font-size: 16px;
    line-height: 160%;
    font-family: var(--fonts-footer-menu);
    letter-spacing: 0.48px;
    margin-bottom: 17px;
  }

  &__container-blocks {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__container-text {
    background-color: var(--color-darkbackground);
    padding: 16px 18px;
    flex-basis: 50%;
    border-radius: 12px;
  }

  &__title-text {
    color: var(--color-main-titles);
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__wraper-img {
    position: relative;
    margin-bottom: 38px;
  }

  &__wraper-img::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.46);
    border-radius: 8px;
  }

  &__img {
    width: 100%;
    border-radius: 8px;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__wraper {
    position: absolute;
    bottom: -9%;
    right: -2%;
    z-index: 5;
    width: 54%;
    @include adaptiv-height(131, 71, 768);
  }

  &__wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(157, 2, 8, 0.53);
    backdrop-filter: blur(2.5px);
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-image: url("../images/about/road.svg");
    background-position-y: 50%;
    background-repeat: repeat-x;
    background-size: 18vw 0.5vw;
    animation: aboutRoad 8s linear infinite;
  }

  &__in-wraper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }

  &__in-wraper::before,
  &__in-wraper::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: repeat-x;
    background-size: auto 37%;
  }

  &__in-wraper::before {
    content: "";
    background-image: url("../images/about/carNew.svg");
    background-position: 0 0;
    animation: aboutHigherCars 300s linear infinite;
  }
  &__in-wraper::after {
    content: attr(data-car);
    background-image: url("../images/about/carNew.svg");
    background-position: 0 90%;
    animation: aboutHigherCars 300s linear infinite;
    transform: scaleX(-1);
  }

  @media screen and (min-width: 360px) {
    &__body {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 498px) {
    &__body {
      margin-bottom: 110px;
    }
  }

  @media screen and (max-width: 768px) {
    &__container-blocks {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    &__wraper {
      // height: 131px;
      width: 47%;
      bottom: -6%;
    }

    &__wraper-img {
      margin-bottom: 60px;
    }

    &__wraper-img::after,
    &__img {
      border-radius: 23px;
    }

    &__container-text {
      padding: 40px 16px;
    }

    &__container-text--last {
      padding: 16px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px),
    (min-width: 1680px) {
    &__title {
      margin-bottom: 32px;
    }
  }

  @media screen and (max-width: 1280px) {
    &__content {
      margin: 0 auto;
    }

    &__body {
      max-width: 994px;
      margin: 0 auto;
    }

    &__wraper-big-img {
      display: none;
    }
  }

  @media screen and (min-width: 1280px) {
    &__img {
      display: none;
    }

    &__container-content {
      display: flex;
    }

    &__content {
      flex: 0 0 100%;
    }

    &__title,
    &__body {
      width: 50%;
    }

    &__title {
      text-align: left;
      margin-bottom: 32px;
    }

    &__body {
      max-width: 800px;
      margin-bottom: 0;
    }

    &__container-text {
      padding: 10px 21px;
    }

    &__content &__wraper {
      display: none;
    }

    &__wraper-big-img {
      position: relative;
      flex: 0 0 50%;
      transform: translate(-100%, 0px);
    }

    &__wraper-img {
      margin-bottom: 0;
    }

    &__img-big {
      position: absolute;
      width: 84.5%;
      height: 97.8%;
      top: 0;
      right: 0;
      max-width: 100%;
      margin-left: auto;
    }

    &__img-big::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(27, 27, 27, 0.46);
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }

    &__img-big img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }

    &__wraper {
      bottom: -2%;
      max-width: 510px;
      width: 53%;
      height: 140px;
      right: 0%;
      overflow-x: hidden;
    }

    &__wraper::before {
      background-size: 167px 5px;
      animation: aboutRoad1280 8s linear infinite;
    }

    &__in-wraper::before,
    &__in-wraper::after {
      animation: aboutCar1280 3s linear infinite;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1680px) {
    &__title-text {
      font-size: 20px;
    }

    &__body {
      font-size: 14px;
      letter-spacing: 0.42px;
    }

    &__container-blocks {
      gap: 16px;
    }
  }

  @media screen and (min-width: 1680px) {
   &__wraper {
      height: 170px;
    }

    &__in-wraper::before,
    &__in-wraper::after {
      animation: aboutCar1680 3s linear infinite;
    }

    &__container-text {
      padding: 40px 30px;
    }
  }
}

@keyframes aboutRoad {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -18vw;
  }
}
@keyframes aboutRoad1280 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -168px;
  }
}
@keyframes aboutCar1280 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -96px;
  }
}
@keyframes aboutCar1680 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -116px;
  }
}
@keyframes aboutHigherCars {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -2000%;
  }
}
