.section.feedback {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.77),
        rgba(27, 27, 27, 0.77)
      ),
      url(../images/feedback/background-mob.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(4.5px);
  }

  @media screen and (min-width: 768px) {
    & {
      padding: 32px 0;
    }

    &::before {
      background-image: linear-gradient(
          rgba(27, 27, 27, 0.77),
          rgba(27, 27, 27, 0.77)
        ),
        url(../images/feedback/background-tablet.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    & {
      padding: 60px 0;
    }

    &::before {
      background-image: linear-gradient(
          rgba(27, 27, 27, 0.77),
          rgba(27, 27, 27, 0.77)
        ),
        url(../images/feedback/background-desktop.jpg);
    }
  }
}

.feedback {
  &__title {
    text-align: center;
    color: var(--color-darkbackground);
    margin-bottom: 18px;
  }

  @media screen and (min-width: 768px) {
    &__title {
      margin-bottom: 29px;
    }
  }
  @media screen and (min-width: 1280px) {
    &__title {
      text-align: left;
      margin-bottom: 32px;
    }
  }
}
