.section.footer {
  background-color: #1b1b1b;

  @media screen and (max-width: 768px) {
    & {
      padding: 32px 0;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1680px) {
    & {
      padding: 43px 0;
    }
  }
}
.footer {
  &__logo {
    display: block;
    margin-bottom: 32px;
  }

  &__img {
    margin: 0 auto;
  }

  &__wraper {
    display: flex;
    flex-direction: column;
  }

  &__wraper_policy {
    max-width: min-content;
  }

  &__title {
    font-size: 20px;
    color: var(--color-darkbackground);
    margin-bottom: 15px;
  }

  & &__title_policy {
    margin-bottom: 10px;
  }

  & .contacts {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-darkbackground);
  }

  & .messengers {
    justify-content: center;
  }

  & .messengers__link {
    font-size: 24px;
  }

  & .messengers__icon {
    color: var(--color-darkbackground);
  }

  @media screen and (max-width: 768px) {
    & .container {
      display: flex;
      flex-direction: column;
      max-width: 206px;
    }

    & .contacts__link {
      display: flex;
      flex-direction: column;
    }

    & .contacts__space {
      display: none;
    }

    &__wraper {
      gap: 20px;
    }

    &__wraper_contacts {
      padding: 16px 0 0;
    }
  }

  @media screen and (min-width: 768px) {
    &__links-wraper {
      display: flex;
      justify-content: center;
      justify-content: space-between;
    }

    &__wraper {
      flex-grow: 1;
      flex-direction: row;
    }

    &__wraper_policy {
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    & .container {
      max-width: 705px;
    }

    &__title {
      text-align: center;
    }

    & .contacts__item {
      justify-content: center;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1280px),
    (min-width: 1680px) {
    &__title {
      font-size: 24px;
    }

    & .contacts {
      margin-bottom: 16px;
      padding-bottom: 16px;
    }

    & .messengers__link {
      font-size: 33px;
    }
  }

  @media screen and (min-width: 1280px) {
    & .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 65px;
    }

    &__logo {
      margin-bottom: 0;
    }

    &__img {
      width: auto;
      height: auto;
    }

    &__wraper {
      gap: 70px;
      margin-right: 110px;
    }

    &__title {
      margin-bottom: 31px;
    }

    &__wraper_contacts {
      padding-top: 0;
      width: 253px;
    }

    &__title_contacts {
      text-align: left;
    }

    & .contacts {
      padding-left: 0;
    }

    & .messengers {
      margin-left: auto;
      justify-content: flex-start;
    }

    & .messengers__link {
      font-size: 18.5px;
    }
  }

  @media screen and (min-width: 1680px) {
    & .container {
      max-width: 1345px;
    }

    & .messengers__link {
      font-size: 26px;
    }

    &__wraper {
      gap: 140px;
      margin-right: 200px;
    }
  }
}

.policy-en {
  white-space: nowrap;
}
