.header {
  padding: 32px 0;

  & .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1280px) {
      & {
        justify-content: space-between;
      }
    }
  }
}
