.header {
  padding: 16px 0;

  &__wraper {
    display: flex;
    align-items: center;
    max-width: 1440px;
  }

  @media screen and (max-width: 1280px) {
    &__wraper {
      justify-content: space-between;
    }
  }
}
