.section.hero {
  background-repeat: repeat;
  background-position: 0 105px;
  background-size: auto auto;

  @media screen and (min-width: 360px) {
    & {
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: url("../images/hero/squares_back.png");
      padding-bottom: 67px;
    }
  }

  & .container {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 1280px) {
      & {
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.hero__content {
  flex: 0 0 100%;
  display: flex;
}

.title-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  padding: 0 0 18px 0;

  @media screen and (min-width: 768px) {
    padding: 0 0 50px 0;
  }
  @media screen and (max-width: 1280px) {
    & {
      justify-content: center;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      width: 50%;
      position: relative;
      height: 90%;
      padding: 38px 76px 38px 0;
    }
  }
  @media screen and (min-width: 1680px) {
    & {
      padding-right: 131px;
    }
  }
}

.boxes-wraper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &__img:first-child {
    margin-right: 16px;
  }

  @media screen and (max-width: 1280px) {
    & {
      display: none;
    }
  }
}

.wrapper-hero {
  display: flex;
}

.title-hero {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--color-menu);

  @media screen and (min-width: 768px) and (max-width: 1280px),
    (min-width: 1680px) {
    & {
      font-size: 23px;
    }
  }
}
.text-hero {
  white-space: nowrap;
  font-size: 40px;
  @media screen and (max-width: 480px) {
    & {
      white-space: wrap;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px),
    (min-width: 1680px) {
    & {
      font-size: 53px;
    }
  }
}

.hero-img {
  position: relative;

  @media screen and (max-width: 1280px) {
    &__nature,
    &__background {
      width: 97%;
    }

    &__background {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      flex: 0 0 50%;
      transform: translate(-100%, 0px);
      padding: 0 0 31.72% 0;
      // display: inline-block;
      // overflow: hidden;
      // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 57%);
    }

    //  &::before {
    //    content: "";
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 100%;
    //    height: 100%;
    //    background-color: rgba(106, 105, 13, 0.3);
    //    background-size: cover;
    //    z-index: 1;
    //  }

    &__nature,
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nature {
    margin-left: auto;
  }

  &__car {
    position: absolute;
    width: 100%;
    top: 0;
    pointer-events: none;
  }

  @media screen and (min-width: 1280px) {
    &__car {
      width: 95%;
      top: 15px;
    }
  }
}

.info-hero {
  color: var(--color-menu-text);
  font-size: 14px;
  line-height: calc(23 / 14);
  letter-spacing: 0.42px;
  margin-top: 10px;

  @media screen and (min-width: 768px) and (max-width: 1280px),
    (min-width: 1680px) {
    & {
      font-size: 16px;
      line-height: calc(32 / 16);
      letter-spacing: 0.48px;
      margin-top: 16px;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1680px) {
    & {
      max-width: 437px;
    }
  }
}

.leave-phone-hero {
  position: absolute;
  top: 14vw;
  right: -12vw;
  border-radius: 10px;
  background: #fff;
  transform: rotate(9.995deg);
  font-size: 14px;
  line-height: 1.4;
  padding: 28px 48px;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 19px;
    background-color: var(--color-darkbackground);
    z-index: 2;
    width: 22px;
    height: 22px;
    transform: translateY(50%) rotate(45deg);
    border-bottom-right-radius: 8px;
  }

  @media screen and (max-width: 1280px) {
    & {
      display: none;
    }
  }
  @media screen and (min-width: 1680px) {
    & {
      top: 16vw;
      right: -6vw;
      font-size: 16px;
      padding: 30px 49px;
    }
  }
}
.leave-phone-time {
  color: var(--color-main-titles);
}

.wrap-form-phone {
  position: relative;
}

.leave-phone-hero-mob {
  display: none;
  position: absolute;
  top: -85px;
  right: 3vw;
  border-radius: 9px;
  background: #fff;
  transform: rotate(-0.737deg);
  font-size: 14px;
  line-height: 1.4;
  padding: 26px 47px 26px 47px;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: 18px;
    background-color: var(--color-darkbackground);
    z-index: 2;
    width: 22px;
    height: 22px;
    transform: translateY(50%) rotate(45deg);
    border-bottom-right-radius: 8px;
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    & {
      display: block;
    }
  }
}
