.section {
}
.questions {
  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__inform {
    font-weight: 500;
    @include adaptiv-font(28, 20, 768);
    line-height: calc(23 / 20);
    color: var(--color-main-titles);
    margin: 0 auto 16px;
    max-width: 1346px;
  }

  &__btn {
    max-width: 1345px;
    width: 100%;
    height: 47px;
    background: var(--color-btn-hover);
    border-radius: 26.16px;
    border: none;
    font-weight: 500;
    @include adaptiv-font(28, 20, 768);
    line-height: calc(23 / 20);
    color: var(--color-darkbackground);
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    &__btn {
      font-size: 28px;
      line-height: calc(33 / 28);
    }

    &__inform {
      font-size: 28px;
      line-height: calc(33 / 28);
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    &__title {
      text-align: left;
      margin-bottom: 58px;
    }

    &__btn {
      font-size: 23px;
      line-height: calc(27 / 23);
    }
  }

  @media screen and (min-width: 1680px) {
   & {
      background-image: url("../images/questions/boxes.png");
      background-repeat: no-repeat;
      background-position: 0 95%;
    }
  }
}

.accordion-container {
  max-width: 1346px;
  border-top: 2px solid var(--color-main-titles);
  margin: 0 auto 20px;
}

.ac {
  border: none;
  margin: 0;
  border-bottom: 2px solid var(--color-main-titles);
}

.ac .ac-trigger {
  padding: 20px 46px 20px 0;
  font-weight: 500;
  @include adaptiv-font(28, 20, 768);
  line-height: calc(23 / 20);
  font-family: inherit;
  color: var(--color-main-titles);

  &::after {
    font-size: 40px;
    color: var(--color-main-titles);
  }

  @media screen and (min-width: 768px) {
    & {
      font-size: 28px;
      line-height: calc(33 / 28);
      padding-right: 71px;
    }

    &::after {
      font-size: 70px;
      right: 23px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      padding-right: 135px;
    }

    &::after {
      font-size: 42px;
      right: 15px;
    }
  }
}

.ac .ac-panel .ac-text {
  padding: 0 0 16px 0;
  font-family: inherit;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: inherit;

  @media screen and (min-width: 768px) {
    & {
      font-size: 16px;
      line-height: calc(19 / 16);
      padding: 0 0 20px 0;
    }
  }
}

.ac .ac-trigger:focus,
.ac .ac-trigger:hover {
  color: var(--color-btn-hover);
}
