.section {
  &.rights {
    padding: 16px 0;
  }

  @media screen and (min-width: 1376px) {
   &.rights {
      padding: 21px 0;
   }
  }
}
.rights {
  &__text {
   font-family: var(--fonts-footer-menu);
    font-size: 14px;
  }

  &__link {
  }

  @media screen and (min-width: 492px) {
    &__text {
      font-size: 16px;
    }
  }
}
