.section.services {
  padding-bottom: 0;
  padding-top: 42px;

  @media screen and (min-width: 498px) {
    & {
      padding-top: 64px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      padding-top: 20px;
    }
  }
}
