.section.steps {
  overflow: hidden;

  @media screen and (min-width: 1280px) {
    @include adaptiv-height(790, 720, 1920, 1280);
  }
  @media screen and (min-width: 1680px) and (max-width: 1920px) {
    @include adaptiv-height(940, 920, 2560, 1920);
  }
  @media screen and (min-width: 1920px) and (max-width: 2560px) {
    @include adaptiv-height(1010, 920, 2560, 1920);
  }

  @media screen and (min-width: 2560px) {
    & {
      height: 1010px;
    }
  }
}
.steps {
  & .title {
    margin-bottom: 32px;
  }

  &__wraper {
    width: 100vw;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__container-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 156px;
    height: 60px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-darkbackground);
    background-color: #c2c2c2;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 250ms linear, color 250ms linear;
    transform: skewX(-15deg);
  }

  &__btn.active {
    background-color: var(--color-btn-hover);
    color: var(--color-darkbackground);
  }

  &__btn-text {
    display: inline-block;
    transform: skewX(15deg);
  }

  &__icon {
    font-size: 24px;
    transform: skewX(15deg);
  }

  &__curve-lines {
    display: none;
  }

  @media screen and (min-width: 480px) {
    &__wraper {
      max-width: 704px;
    }
  }
  @media screen and (min-width: 768px) {
    &__container-btn {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 1280px) {
    &__container-btn {
      justify-content: flex-end;
      margin-bottom: 42px;
    }

    & .title {
      text-align: left;
      margin-bottom: 60px;
    }

    &__wraper {
      position: relative;
      padding: 0;
      max-width: none;
    }

    &__curve-lines {
      display: block;
    }

    &__svg {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px),
    (min-width: 1680px) {
    &__btn {
      width: 212.5px;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1680px) {
    &__btn {
      font-size: 14px;
      width: 151px;
      height: 43px;
      gap: 11px;
      border-radius: 10px;
    }
    &__icon {
      font-size: 17px;
    }
  }

  @media screen and (min-width: 1680px) {
    &__container-btn {
      margin-bottom: 59px;
    }
  }
}
