.btn-price {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-btn-hover);
  border-radius: 26.1579px;
  font-weight: 500;
  @include adaptiv-font(23, 20, 768);
  line-height: calc(23/20);
  color: var(--color-darkbackground);
  text-align: center;
  width: 100%;
  height: 47px;

  @media screen and (min-width: 768px) {
    & {
      font-size: 23px;
      line-height: calc(27/23);
    }
  }
  @media screen and (min-width: 1280px) {
    .wrap-btn-price & {
      display: none;
    }

    .hero & {
      margin-top: 30px;
      max-width: 663px;
    }
  }

  @media screen and (max-width: 1280px) {
    .hero & {
      display: none;
    }
  }
}
