.calc {
  min-height: 459px;
  max-width: 1345px;
  margin: 0 auto;
  border-radius: 27px;
  padding: 16px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.77),
        rgba(27, 27, 27, 0.77)
      ),
      url(../images/cost/cost-mob.jpg);
    filter: blur(4.5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 27px;
  }

  &__title {
    @include adaptiv-font(43, 25, 768);
    line-height: normal;
    letter-spacing: 0.252px;
    color: var(--color-darkbackground);
    text-align: center;
    margin-bottom: 10px;
  }

  &__note {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
  }

  &__label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  &__wraper-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__icon {
    @include adaptiv-font(28, 19, 768);
    margin-right: 13px;
    color: var(--color-darkbackground);
  }

  &__icon-btn {
    font-size: 19px;
    color: var(--color-darkbackground);
  }

  &__name {
    @include adaptiv-font(24, 16, 768);
    letter-spacing: 0.356px;
    color: var(--color-darkbackground);
  }

  &__input {
    padding: 15.5px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    width: 100%;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    background: var(--color-btn-hover);
    border-radius: 10px;
    padding: 30px 18px;
    border: none;
    color: var(--color-darkbackground);
    cursor: pointer;
    transition: background-color 250ms linear;
  }

  &__btn:hover,
  &__btn:focus {
   background-color: rgb(157, 2, 8, 0.8);
  }

  &__container-error {
    display: none;
    color: var(--color-darkbackground);
    @include adaptiv-font(16, 12, 1280);
    margin-left: 16px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 687px) {
    & {
      padding: 32px;
    }

    &::before {
      background-image: linear-gradient(
          rgba(27, 27, 27, 0.77),
          rgba(27, 27, 27, 0.77)
        ),
        url(../images/cost/cost-tablet.jpg);
    }

    &__note {
      margin-bottom: 32px;
    }

    &__wraper-label {
      margin-bottom: 0;
      margin-right: 22px;
    }

    &__label {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;
    }

    &__label:last-of-type {
      margin-bottom: 65px;
    }

    &__icon {
      margin-right: 11px;
    }

    &__name {
      white-space: nowrap;
    }

    &__input {
      padding: 19px 20px;
      max-width: 61.5%;
    }

    &__container-error {
      margin-left: 40%;
      margin-bottom: 36px;
    }
  }
  @media screen and (min-width: 768px) {
    &__title {
      font-size: 43px;
    }

    &__name {
      font-size: 24px;
    }

    &__icon {
      font-size: 28px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      padding: 54px 80px 50px 80px;
    }

    &::before {
      background-image: linear-gradient(
          rgba(27, 27, 27, 0.77),
          rgba(27, 27, 27, 0.77)
        ),
        url(../images/cost/cost-desktop.jpg);
    }

    &__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }

    &__title,
    &__note {
      text-align: left;
    }

    &__container-label {
      max-width: 753px;
      width: 100%;
    }

    &__label:last-of-type {
      margin-bottom: 0;
    }

    &__input {
      max-width: 544px;
    }

    &__container-error {
      font-size: 16px;
      margin-left: 225px;
    }

    &__container-btn-price {
      position: relative;
      max-width: 388px;
      width: 100%;
    }

    &__btn {
      white-space: nowrap;
      margin-left: auto;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1366px) {
    &__input {
      max-width: 435px;
    }
  }

  @media screen and (min-width: 1366px) and (max-width: 1680px) {
    &__input {
      max-width: 520px;
    }
  }
}

.reset-margin {
  margin-bottom: 0 !important;
}

.error-pl {
  @media screen and (min-width: 687px) {
    & {
      margin-left: 48%;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-left: 285px;
    }
  }
}
