.calc {
  max-width: 957px;
  margin: 0 auto;
  border-radius: 27px;
  padding: 20px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.77),
        rgba(27, 27, 27, 0.77)
      ),
      url(../images/cost/cost-mob.jpg);
    filter: blur(4.5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 27px;
  }

  &__title {
    font-size: 30px;
    letter-spacing: 0.179px;
    color: var(--color-darkbackground);
    margin-bottom: 10px;
  }

  &__note {
    font-size: 14px;
    color: #fff;
    margin-bottom: 32px;
  }

  &__star {
    color: var(--color-main-titles);
    font-weight: 700;
  }

  &__label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  &__wraper-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__icon {
    font-size: 20px;
    margin-right: 8px;
    color: var(--color-darkbackground);
  }

  &__icon-btn {
    font-size: 13.5px;
    color: var(--color-darkbackground);
  }

  &__name {
    font-size: 20px;
    letter-spacing: 0.253px;
    color: var(--color-darkbackground);
  }

  &__input {
    padding: 11.85px 14px;
    border-radius: 7px;
    font-size: 14px;
    color: #000000;
    width: 100%;
  }

  &__btn {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100%;
    background: var(--color-btn-hover);
    border-radius: 10px;
    padding: 14.75px 18px;
    border: none;
    color: var(--color-darkbackground);
    cursor: pointer;
    transition: background-color 250ms linear;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: rgb(157, 2, 8, 0.8);
  }

  &__container-error {
    display: none;
    color: var(--color-darkbackground);
    @include adaptiv-font(16, 12, 1280);
    margin-left: 16px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    & {
      padding: 32px;
    }

    &::before {
      background-image: linear-gradient(
          rgba(27, 27, 27, 0.77),
          rgba(27, 27, 27, 0.77)
        ),
        url(../images/cost/cost-tablet.jpg);
    }

    &__wraper-label {
      margin-bottom: 0;
      margin-right: 22px;
    }

    &__label {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;
    }

    &__name {
      white-space: nowrap;
    }

    &__input {
      max-width: 62.75%;
    }

    &__container-error {
      margin-left: 40%;
      margin-bottom: 36px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px),
    (min-width: 1680px) {
    &__title {
      font-size: 43px;
      letter-spacing: 0.252px;
    }

    &__note {
      font-size: 16px;
    }

    &__icon {
      font-size: 28px;
      margin-right: 11px;
    }

    &__name {
      font-size: 24px;
      letter-spacing: 0.356px;
    }

    &__input {
      font-size: 16px;
      border-radius: 10px;
      padding: 14.2px 20px;
    }

    &__icon-btn {
      font-size: 19px;
    }

    &__btn {
      font-size: 16px;
      gap: 10px;
      padding: 20.5px 18px;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      padding: 39px 57px 35px;
    }

    &::before {
      background-image: linear-gradient(
          rgba(27, 27, 27, 0.77),
          rgba(27, 27, 27, 0.77)
        ),
        url(../images/cost/cost-desktop.jpg);
    }

    &__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }

    &__container-label {
      max-width: 753px;
      width: 100%;
    }

    &__label {
      margin-bottom: 23px;
    }

    &__label:last-of-type {
      margin-bottom: 0;
    }

    &__input {
      max-width: 362px;
    }

    &__container-error {
      font-size: 16px;
      margin-left: 185px;
    }

    &__container-error:last-of-type {
      margin-bottom: 0;
    }

    &__container-btn-price {
      position: relative;
      max-width: 276px;
      width: 100%;
    }

    &__btn {
      white-space: nowrap;
      margin-left: auto;
    }
  }

  @media screen and (min-width: 1680px) {
    & {
      max-width: 1345px;
      padding: 54px 80px 50px;
    }

    &__label {
      margin-bottom: 32px;
    }

    &__input {
      max-width: 544px;
      padding: 19.2px 20px;
    }

    &__container-btn-price {
      max-width: 388px;
    }

    &__container-error {
      margin-left: 225px;
    }
  }
}

.reset-margin {
  margin-bottom: 0 !important;
}

.error-pl {
  @media screen and (min-width: 768px) {
    & {
      margin-left: 39%;
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-left: 215px;
    }
  }
  @media screen and (min-width: 1680px) {
    & {
      margin-left: 255px;
    }
  }
}
