.contacts {
  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__item_wraper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    font-size: 14px;
    white-space: nowrap;
    color: var(--color-darkbackground);
  }

  &__link_email {
    text-decoration: underline;
  }

  @media screen and (min-width: 498px) {
    &__link {
      font-size: 16px;
    }

    &__link:not(:last-child) {
      margin-bottom: 0;
    }

    &__item_wraper {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    & {
      margin-bottom: 26px;
    }

    &__item_wraper {
      flex-direction: column;
    }
  }
}
