.messengers {
  display: flex;

  &.mob-menu {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-darkbackground);
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__item,
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  &__icon {
   color: var(--color-main-titles);
  }

  &.mob-menu  &__icon {
   color: var(--color-darkbackground);
  }

  .desktop & {
    margin-bottom: 0;
    margin-right: 60px;
  }

  .contacts-wraper & {
    justify-content: center;

    @media screen and (min-width: 1280px) {
      & {
        justify-content: flex-start;
      }
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1680px) {
    .desktop & {
      margin-right: 50px;
    }
  }
}
