.parcel-direct {
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__item:not(:last-child) {
    margin-bottom: 14px;
  }

  &__icon {
    font-size: 19px;
  }

  &__text {
    color: var(--color-menu-text);
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}
