.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -32px;
  margin-right: -20px;
  padding: 34px 0 32px;
  position: relative;
  z-index: 1;

  &__item {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: var(--color-darkbackground);
    height: 256px;
    padding: 0 25px;
    width: 100%;
    max-width: 526px;
  }

  &__icon {
    color: var(--color-main-titles);
    font-size: 60px;
  }

  &__container {
    display: flex;
    gap: 16px;
  }

  &__title {
    font-weight: 700;
    line-height: calc(32 / 24);
    letter-spacing: 0.72px;
    color: var(--color-main-titles);
    @include adaptiv-font(24, 20, 768);
    line-height: calc(32 / 24);
  }

  &__text {
    letter-spacing: 0.32px;
    @include adaptiv-font(16, 14, 768);
    line-height: calc(25.6 / 16);
    color: var(--color-menu-text);
    margin-top: 16px;
  }

  @media screen and (min-width: 480px) {
    & {
      padding: 33px 0 0;
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      flex-basis: calc((100% - 40px) / 2);
      padding: 0 50px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1280px) {
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  @media screen and (min-width: 1680px) {
    & {
      padding: 45px 0 0;
    }
  }
}
