.services .marquee {
  font-size: 28px;
  color: var(--color-darkbackground);
  background-color: var(--color-menu);
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  height: 54px;
  padding: 10px 0 11px;
  transform: rotate(-4.3deg);

  &__name {
    position: relative;
    margin-right: 10px;
    margin-left: 20px;
  }

  &__icon {
    font-size: 17px;
    color: #F2D53C;
  }

  &__icon::before {
    display: inline-block;
  }
}
