:root {
  --color-main-titles: #9D0208;
  --color-btn-hover: #9D0208;
  --color-darkbackground: #ffffff;
  --color-menu: #03071E;
  --color-menu-text: #262626;

  --fonts-main: 'Play', sans-serif;
  --fonts-footer-menu: 'Roboto', sans-serif;;
}
